body {
    font-family: Arial, sans-serif;
    background-color: #0f0f0f;
    margin: 30px;
    text-align: center;
}

p {
    font-size: 18px;
    color: #ffffff;
     padding: 5px;
}

div {
    background-color: #0f0f0f;
    padding: 5px;
    border-radius: 2px;
    display: inline-block;
    margin-top: 1px;
}